<section class="section container" id="catalog">
	<h2 class="catalog-title">Catalog</h2>
	<div class="catalog-wrap">
		<ul class="catalog-list">
			<li class="catalog-item">
				<div class="item-container">
					<img class="item-img-catalog"
						srcset="/img/fenix-7x-model-watch-min.png 1x, /img/fenix-6-pro-model-watch@2x-min.png 2x"
						src="/img/fenix-7x-model-watch-min.png" alt="Garmin Fenix 7X Pro Sapphire Solar ">
					<p class="catalog-item-title">Garmin Fenix 7X Pro Sapphire Solar </p>
					<p class="catalog-price">€500</p>
				</div>
			</li>
			<li class="catalog-item">
				<div class="item-container">
					<img class="item-img-catalog" 
					srcset="/img/marq-model-watch-min.png 1x, /img/marq-model-watch@2x-min.png 2x"
						src="/img/marq-model-watch-min.png" alt="Garmin Marq Athlete">
					<p class="catalog-item-title">Garmin Marq Athlete</p>
					<p class="catalog-price">€450</p>
				</div>
			</li>
			<li class="catalog-item">
				<div class="item-container">
					<img class="item-img-catalog"
						srcset="/img/descent-model-watch-min.png 1x, /img/descent-model-watch@2x-min.png 2x"
						src="/img/descent-model-watch-min.png" alt="Garmin Descent MK1">
					<p class="catalog-item-title">Garmin Descent MK1</p>
					<p class="catalog-price">€680</p>
				</div>
			</li>
			<li class="catalog-item">
				<div class="item-container">
					<img class="item-img-catalog"
						srcset="/img/d2-delta-model-watch-min.png 1x, /img/d2-delta-model-watch@2x-min.png 2x"
						src="/img/d2-delta-model-watch-min.png" alt="Garmin Fenix 6 Pro Solar">
					<p class="catalog-item-title">Garmin D2 Delta PX</p>
					<p class="catalog-price">€380</p>
				</div>
			</li>
			<li class="catalog-item hidden">
				<div class="item-container">
					<img class="item-img-catalog"
						srcset="img/fenix-6-pro-model-watch-min.png 1x,img/fenix-6-pro-model-watch@2x-min.png 2x"
						src="/img/fenix-6-pro-model-watch-min.png" alt="Garmin Fenix 6 Pro Solar">
					<p class="catalog-item-title">Garmin Fenix 6 Pro Solar</p>
					<p class="catalog-price">€400</p>
				</div>
			</li>
			<li class="catalog-item hidden">
				<div class="item-container">
					<img class="item-img-catalog" srcset="img/tube-model-watch-min.png 1x, img/tube-model-watch@2x-min.png 2x"
						src="img/tube-model-watch-min.png" alt="Tube Watch S42 Date Steel With Black Case">
					<p class="catalog-item-title">Tube Watch S42 Date Steel With Black Case</p>
					<p class="catalog-price">€395</p>
				</div>
			</li>
		</ul>
	</div>
	<button type="button" class="catalog-btn">Show more</button>
	<button type="button" class="catalog-btn-less">Show less</button>
</section>