<footer class="web-footer">
    <div class="container">
        <div class="main-footer-div">
            <div class="footer-block-one">
                <div class="footer-box-one">
                <a href="" class="footer-logo">watchcharm</a>
                <ul class="footer-soc-links">
                    <li class="footer-li-one">
                        <a href="" class="soc-link-footer">
                            <svg class="footer-svg" width="18" height="18">
                                <use href="../img/spride.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-li-one">
                        <a href="" class="soc-link-footer">
                            <svg class="footer-svg" width="18" height="18">
                                <use href="../img/spride.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-li-one">
                        <a href="" class="soc-link-footer">
                            <svg class="footer-svg" width="18" height="18">
                                <use href="../img/spride.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                </div>
                <div class="footer-box-two">
                <a href="tel:+380684439426" class="footer-tel">+380 (68) 443-94-26</a>
                </div>
                <div class="footer-box-three">
                <p class="footer-info-txt">
                   Have the time of your life with our
                   watches: where high-class craftsmanship
                   meets impeccable design
                </p>
                </div>
            </div>
            <div class="footer-block-two">
                <div class="footer-box-four">
                    <ul class="footer-ul-four">
                        <li class="footer-li-four">
                            <a href="" class="f-box-four-item">Home</a>
                        </li>
                        <li class="footer-li-four">
                            <a href="" class="f-box-four-item">About Us</a>
                        </li>
                        <li class="footer-li-four">
                            <a href="" class="f-box-four-item">Catalog</a>
                        </li>
                        <li class="footer-li-four">
                            <a href="" class="f-box-four-item">Sale</a>
                        </li>
                        <li class="footer-li-four">
                            <a href="" class="f-box-four-item">Reviews</a>
                        </li>
                        <li class="footer-li-four">
                            <a href="" class="f-box-four-item">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-box-five">
                    <a href="" class="f-box-four-address">1678 S. Pioneer Road Salt Lake City UT 84104</a>
                </div>
            </div>
            <div class="footer-line"></div>
            <div class="footer-end-info">
                <div class="div-end-info">
                    <p class="p-end-text">©2023 The Watch Spot. All rights reserved.</p>
                </div>
                <div class="div-end-info">
                    <a href="" class="footer-end-item">Terms of Service</a>
                    <a href="" class="footer-end-item">Privacy Policy</a>
               </div>
            </div>
        </div>
    </div>
</footer>