<header class="header" id="header">
	<div class="header-container container">
		<nav class="header-navigation">
			<a href="./index.html" class="logo">watchcharm</a>
			<ul class="header-list">
				<li class="header-item"><a href="#hero" class="header-item-link first-item">Home</a></li>
				<li class="header-item"><a href="#about" class="header-item-link">About Us</a></li>
				<li class="header-item"><a href="#catalog" class="header-item-link">Catalog</a></li>
				<li class="header-item"><a href="#sale" class="header-item-link">Sale</a></li>
				<li class="header-item"><a href="#reviews" class="header-item-link">Reviews</a></li>
				<li class="header-item"><a href="#contact" class="header-item-link">Contact Us</a></li>
			</ul>
		</nav>
		<ul class="header-icon-list">
			<li class="header-icon-item"><a href="https://www.facebook.com/goITclub/" target="_blank"> <svg
						class="header-icon-link" width="20" height="20">
						<use href="/img/icons.svg#icon-facebook"></use>
					</svg></a></li>
			<li class="header-icon-item"><a href="https://www.instagram.com/goitclub/" target="_blank"> <svg
						class="header-icon-link" width="20" height="20">
						<use href="/img/icons.svg#icon-instagram"></use>
					</svg></a></li>
			<li class="header-icon-item"><a href="https://www.youtube.com/c/GoIT" target="_blank"> <svg
						class="header-icon-link" width="20" height="20">
						<use href="/img/icons.svg#icon-youtube"></use>
					</svg></a></li>
		</ul>
		<button type="button" class="open-menu-button"><svg width="28" height="14" class="open-menu-icon">
				<use href="/img/icons.svg#icon-menu"></use>
			</svg></button>
		<div class="mob-menu">
			<button type="button" class="close-menu-btn"><svg class="mob-icon-close" width="20" height="20">
					<use href="/img/icons.svg#icon-x"></use>
				</svg></button>
			<nav class="mob-navigation">
				<ul class="mob-link-list">

					<li class="mob-item"><a href="#hero" class="mob-item-link first-item">Home</a></li>
					<li class="mob-item"><a href="#about" class="mob-item-link">About Us</a></li>
					<li class="mob-item"><a href="#catalog" class="mob-item-link">Catalog</a></li>
					<li class="mob-item"><a href="#sale" class="mob-item-link">Sale</a></li>
					<li class="mob-item"><a href="#reviews" class="mob-item-link">Reviews</a></li>
					<li class="mob-item"><a href="#contact" class="mob-item-link">Contact Us</a></li>
				</ul>
			</nav>
			<ul class="mob-icon-list">
				<li class="mob-icon-item"><a href="https://www.facebook.com/goITclub/" target="_blank"> <svg
							class="mob-icon-link" width="18" height="18">
							<use href="/img/icons.svg#icon-facebook"></use>
						</svg></a></li>
				<li class="mob-icon-item"><a href="https://www.instagram.com/goitclub/" target="_blank"> <svg
							class="mob-icon-link" width="18" height="18">
							<use href="/img/icons.svg#icon-instagram"></use>
						</svg></a></li>
				<li class="mob-icon-item"><a href="https://www.youtube.com/c/GoIT " target="_blank"> <svg class="mob-icon-link"
							width="18" height="18">
							<use href="/img/icons.svg#icon-youtube"></use>
						</svg></a></li>
			</ul>
		</div>
	</div>
</header>