<section class="hero-section section" id="hero">
  <div class="container hero-container">
    <div class="hero-container-no-img">
      <div class="hero-container-title-and-text">
        <h1 class="hero-title">
          Welcome to our
          <span class="hero-title-collection">collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-container-img-and-scroll">
        <ul class="hero-list">
          <li class="hero-img-item">
            <img src="/img/first-commentator-min.png"
              alt="First commentator"
              class="hero-img-size"/>
          </li>
          <li class="hero-img-item hero-img-item-second">
            <img src="/img/second-commentator-min.png"
              alt="Second commentator"
              class="hero-img-size"
            />
          </li>
          <li class="hero-img-item hero-img-item-third">
            <img src="/img/third-commentator-min.png"
              alt="Third commentator"
              class="hero-img-size"
            />
          </li>
        </ul>
        <a href="#footer" class="hero-scroll">Scroll down</a>
      </div>
    </div>
    <div class="hero-img">
			<picture>
				<source srcset="/img/hero-img.jpg 1x, /img/hero-img@2x.jpg 2x" media="(min-width: 1280px)">
				<source srcset="/img/hero-tabler-img.jpg 1x, /img/hero-tabler-img@2x.jpg 2x"
					media="(min-width: 768px) and (max-width: 1279px)">
				<source srcset="/img/hero-img-mob.jpg 1x, /img/hero-img-mob@2x.jpg 2x" media="(max-width: 767px)">
				<img src="/img/hero-img.jpg" alt="Watches photo our brand">
			</picture>
		</div>
  </div>
</section>
