<section class="reviews-section" id="reviews">
	<div class="container">
		<h2 class="review-title">Reviews</h2>
		<div class="review-list-block">
			<ul class="review-list-wrap">
				<li class="review-item">
					<img class="review-img" src="/img/second-commentator-min.png" alt="third commentator">
					<h4 class="review-sutitle">John Wax</h4>
					<p class="review-text">Buying a watch from was the best choice for me. The design is perfectly combined with
						high quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly.</p>
				</li>
				<li class="review-item">
					<img class="review-img" src="/img/first-commentator-min.png" alt="third commentator">
					<h4 class="review-sutitle">Victoria Romashenko</h4>
					<p class="review-text">Can't take my eyes off my watch from. Every time I put it on, it is admired by those
						around me. The build quality and attention to detail make it a real gem among my accessories.</p>
				</li>
				<li class="review-item">
					<img class="review-img" src="/img/third-commentator-min.png" alt="third commentator">
					<h4 class="review-sutitle">Anastasia Trachuk</h4>
					<p class="review-text">My watch from is a real masterpiece. Every detail impresses with the high quality of
						execution. Special features like [specify features] make it an indispensable companion in my daily life.</p>
				</li>
			</ul>
	</div>
	</div>
</section>