<section class="sale" id="sale">
	<div class="container">
		<h2 class="sale-title">Sale</h2>
		<div class="sale-block">
			<div class="sale-container">
				<div class="watch-container">
					<img srcset="img/sale-img-min.png 1x, img/sale-img@2x-min.png 2x" src="img/sale-img-min.png" alt="big-watch"
						class="watch-img" id="main-img">
				</div>
				<div class="sale-list-container">
					<ul class="sale-list">
						<li class="sale-items">
							<img srcset="img/sale-front-1-min.png 1x, img/sale-front-1@2x-min.png 2x" src="img/sale-front-1-min.png"
								alt="watch-one-front-side" class="sale-img thumbnail" data-index="0">
						</li>
						<li class="sale-items">
							<img srcset="img/sale-front-2-min.png 1x, img/sale-front-2@2x-min.png 2x" src="img/sale-front-2-min.png"
								alt="watch-two-front-side" class="sale-img thumbnail" data-index="1">
						</li>
						<li class="sale-items">
							<img srcset="img/sale-from-the-side-min.png 1x, img/sale-from-the-side@2x-min.png 2x"
								src="img/sale-from-the-side-min.png" alt="watch-left-side" class="sale-img thumbnail" data-index="2">
						</li>
						<li class="sale-items">
							<img srcset="img/sale-back-side-min.png 1x, img/sale-back-side@2x-min.png 2x"
								src="img/sale-back-side-min.png" alt="watch-back-side" class="sale-img thumbnail" data-index="3">
						</li>
					</ul>
				</div>
			</div>
			<div class="watch-sale">
				<h3 class="sale-subtitle">MARQ&#xae; Commander (Gen 2) - Carbon Edition</h3>
				<p class="subtitle-text">Product tag: 706587</p>
				<div class="sub-sale-container">
					<button type="button" class="sale-btn">&#x20AC;1500</button>
					<p class="btn-text">&#x20AC;3000</p>
				</div>
				<p class="sale-text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that
					takes materials and features to the next level. The body of the watch is made of very durable Fused Carbon
					Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons
					that can be used in any conditions.</p>
				<div class="sale-btn-list">
					<ul class="btn-list">
						<li class="btn-items">
							<p class="sub-btns">Fused carbon fiber</p>
						</li>
						<li class="btn-items">
							<p class="sub-btns">Grade-5 Titanuim</p>
						</li>
						<li class="btn-items">
							<p class="sub-btns">Athlete</p>
						</li>
						<li class="btn-items">
							<p class="sub-btns">Golfer</p>
						</li>
						<li class="btn-items">
							<p class="sub-btns">Commander</p>
						</li>
						<li class="btn-items">
							<p class="sub-btns">Adventurer</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>