/* ===================================ABOUT============================================== */
.about-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.about-text-block {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: #f3f3f3;
	border-radius: 30px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 30px;
}
.about-title {
	font-size: 32px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: -0.02em;
	text-align: left;
	margin-bottom: 28px;
}
.about-text {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.29;
	letter-spacing: -0.02em;
	text-align: left;
}

.about-btn {
	display: block;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 160px;
	height: 48px;
	background-color: #3350e9;
	border: none;
	border-radius: 16px;
	color: #fbfbfb;
}

.about-btn:focus,
.about-btn:hover {
	background-color: #1f3cd4;
}

.about-img-block {
	background: url(/img/about-img-mob.jpg);
	background-size: cover;
	border-radius: 30px;
	max-width: 335px;
	height: 366px;
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background: url(../img/about-img-mob2x.jpg);
		background-size: cover;
	}
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 768px) {
	.about-text-block {
		padding-top: 80px;
		padding-bottom: 80px;
		padding-left: 60px;
		padding-right: 60px;
	}

	.about-title {
		font-size: 48px;
		font-weight: bold;
		line-height: 0.92;
		letter-spacing: -0.02em;
		text-align: left;

		margin-bottom: 20px;
	}

	.about-text {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.25;
		letter-spacing: -0.02em;
		text-align: left;
	}

	.about-btn {
		margin-top: 20px;
	}
	.about-img-block {
		background: url(/img/about-img-tablet.jpg) ;
		background-size: cover;
		max-width: none;
		width: 704px;
		height: 512px;
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			background: url(/img/about-img-tablet2x.jpg);
			background-size: cover;
	}
	}
}

@media only screen and (min-width: 1280px) {
	.about-container {
		flex-direction: row;
	}

	.about-text-block {
		width: 580px;
	}

	.about-title {
	}

	.about-text {
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: -0.02em;
		text-align: left;
	}

	.about-btn {
	}

	.about-img-block {
		background: url(/img/about-img-desctop.jpg);
		background-size: cover;
		width: 530px;
		height: 532px;
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			background: url(/img/about-img-desctop2x.jpg);
			background-size: cover;
	}
	}
	
}
