/* ===================================ABOUT============================================== */







@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.about-img-block {
		background-image: url("../img/abou-img-mob@2x.png");
	}
}

.about-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.about-text-block {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: #f3f3f3;
	border-radius: 30px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 30px;
}
.about-title {
	font-size: 32px;
	font-weight: 600;
	line-height: 1;
	letter-spacing: -0.02em;
	text-align: left;
	margin-bottom: 28px;
}
.about-text {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.29;
	letter-spacing: -0.02em;
	text-align: left;
}

.about-btn {
	display: block;
	width: 160px;
	height: 48px;
	background-color: #3350e9;
	border: none;
	border-radius: 16px;
	color: #fbfbfb;
}

.about-btn:focus,
.about-btn:hover {
	background-color: #1f3cd4;
}

.about-img-block {
	border-radius: 30px;
	max-width: 335px;
	min-height: 366px;
	background: url("../img/abou-img-mob.png");
	background-repeat: no-repeat;
	background-size: cover;
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 768px) {
	.about-text-block {
		padding-top: 80px;
		padding-bottom: 80px;
		padding-left: 60px;
		padding-right: 80px;
	}

	.about-title {
		font-size: 48px;
		font-weight: 600;
		line-height: 0.92;
		letter-spacing: -0.02em;
		text-align: left;

		margin-bottom: 20px;
	}

	.about-text {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.25;
		letter-spacing: -0.02em;
		text-align: left;
	}

	.about-btn {
		margin-top: 20px;
	}
	.about-img-block {
		background: url("../img/about-img-tablet.png");
		max-width: none;
		width: 704px;
		min-height: 512px;
		background-size: cover;
	}

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		.about-img-block {
			background-image: url("../img/about-img-tablet@2x.png");
		}
	}
}

@media only screen and (min-width: 1280px) {

	
	.about-container {
		flex-direction: row;
	}

	.about-text-block {
		width: 580px;
		padding-right: 80px;


	}

	.about-title {

	}

	.about-text {

	}

	.about-btn {

	}

	.about-img-block {
		background: url("../img/about-img-min.png");
		width: 530px;
		min-height: 532px;
		background-size: cover;
	}
	

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		.about-img-block {
			background-image: url("../img/about-img@2x-min.png");
		}
	}
}
