
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.header-navigation {
    display: flex;
    align-items: left;
    justify-content: left;
}
.logo {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}
.header-list {
    display: none;
}
.header-icon-list {
    display: none;
}

  .mob-item-link.first-item {
    position: relative;
}
.mob-item-link.first-item::after {
    content: "";
    width: 8px;
    position: absolute;
    left: calc(50% - 4px);
    bottom: -10px;
    height: 8px;
    background-color: #3350E9;
    border-radius: 4px;
  }
  
.open-menu-button {
    padding: 0;
    line-height: 0;
    cursor: pointer;
    border: none;  
    background-color: transparent;
    width: 34px;
    height: 34px;
}
.open-menu-icon {
    stroke: #0c0c0c;
}

.mob-menu {
    top: 0;
    right: 0;
    position: fixed;
    padding: 20px 20px 40px 20px;
    width: 200px;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(12, 12, 12, 0), rgba(12, 12, 12, 0)), url(/img/mobile-menu-bg.png);
    display: flex;
    flex-direction: column;
    overflow: auto;
    /* visibility: hidden;
    opacity: 0;
    pointer-events: 0; */

}
.mob-link-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mob-item-link {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #fbfbfb; 
}


.mob-item:not(:last-child) {
    margin-bottom: 32px;
}
.close-menu-btn {
    display: block;
    margin-left: auto;
    border: none;
    stroke-width: 2.50px;
    margin-bottom: 244px;
    background-color: #0c0c0c;
}
.mob-icon-close {
    fill: #fbfbfb;
}

.mob-icon-list {
    display: flex;
    margin-top: auto;
    justify-content: center;
    gap: 10px;
}

.mob-icon-item {
border: 1px solid rgba(251, 251, 251, 0.1);
border-radius: 10px;
width: 34px;
height: 34px;
padding: 8px;
}

.mob-icon-link {
    fill: #FBFBFB;
    filter: brightness(75%);
}
.mob-icon-link:hover, .mob-icon-link:focus {
    filter: brightness(100%);
}
@media screen and (min-width: 768px) {
.header-container {
    padding: 26px 32px 26px 32px;
}
.mob-menu {
    width: 330px;
    padding: 26px 32px 50px 32px;
}
.logo {
font-family: "Gilroy", sans-serif;
font-weight: 500;
font-size: 20px;
letter-spacing: -0.02em;
color: #0c0c0c;
}
}
@media screen and (min-width: 1280px) {
    .header-container {
        padding: 26px 64px;
    }
    .open-menu-button {
        display: none;
    }
    .header-list {
        display: flex;
        gap: 40px;
        margin-left: 203px;
    }
    .header-icon-list {
        display: flex;
        gap: 10px;
        margin-left: 203px;
    }
    .header-item-link.first-item {
        position: relative;
    }
    .header-item-link.first-item::after {
        content: "";
        width: 8px;
        position: absolute;
        left: calc(50% - 4px);
        bottom: -10px;
        height: 8px;
        background-color: #3350E9;
        border-radius: 4px;
      }
      .header-icon-link {
        border: 1px solid rgba(12, 12, 12, 0.1);
        border-radius: 10px;
        width: 36px;
        padding: 8px;
        height: 36px;
      }
      .header-icon-link:hover, .header-icon-link:focus {
        fill: #3350e9;
      }
      .mob-menu {
        display: none;
      }
}
