/* ===================================HERO============================================== */
.hero-section {
	margin-top: 154px;
	
}

	.hero-section picture{
		height: 366px;
		max-width: 335px;
	}

.hero-title {
	font-family: "Gilroy", sans-serif;
	font-weight: 600;
	font-size: 40px;
	line-height: 0.95;
	letter-spacing: -0.02em;
	color: #0c0c0c;
	
}
.hero-title-collection {
	color: #3350e9;
}

.hero-text {
	font-family: "Gilroy", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.02em;
	color: rgba(12, 12, 12, 0.7);
	max-width: 335px;
}

.hero-list {
	display: flex;
	margin-top: 28px;
}
.hero-container-title-and-text {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.hero-container-img-and-scroll {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 28px;
}

.hero-img-item {
	border-radius: 100%;
	stroke-width: 2px;
	stroke: #fbfbfb;
}
.hero-img-size {
	width: 44px;
	height: 44px;
}
.hero-img-item-second {
	margin-left: -12px;
}
.hero-img-item-third {
	margin-left: -12px;
}
.hero-scroll {
	font-family: "Gilroy", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.02em;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #0c0c0c;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-scroll:hover {
	color: #3350e9;
}
.hero-scroll:focus {
	color: #3350e9;
}

@media screen and (min-width: 375px) {

		.hero-section picture{
			max-width: none;
		height: 366px;
	}
	.hero-text {
		max-width: none;
		width: 335px;
	}

	.hero-img {
		max-width: none;
	}
}

@media screen and (min-width: 768px) {
	.hero-section {
		padding-bottom: 40px;
	}

	.hero-section picture{
		height: 520px;
		width: 704px;
	}
	.hero-container-title-and-text {
		display: flex;
		/* flex-direction: column; */
		/* justify-content: space-between; */
	}
	.hero-title {
		font-size: 60px;
		line-height: 0.86;
		letter-spacing: -0.02em;
		width: 557px;
	}
	.hero-text {
		width: 410px;
	}
	.hero-container-img-and-scroll {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		flex-direction: column;
		margin: 0;
	}
	.hero-container-no-img {
		display: inline-flex;
		margin-bottom: 40px;
		gap: 11px;
	}

	.hero-list {
	margin-top: 0;
}

	.hero-scroll {
		font-size: 20px;
		line-height: 1;
	}
	.hero-img-size {
		width: 56px;
		height: 56px;
	}
	.hero-img-item-second {
		margin-left: -15px;
	}
	.hero-img-item-third {
		margin-left: -15px;
	}

}
@media screen and (min-width: 1280px) {
	.hero-container-no-img {
		gap: 407px;
	}
	.hero-container-img-and-scroll {
		gap: 189px;
	}
	.hero-title {
		font-size: 72px;
		width: 597px;
	}
	.hero-container-title-and-text {
		gap: 20px;
	}
	.hero-text {
		font-size: 16px;
		line-height: 1.25;
		width: 480px;
	}
	.hero-img-size {
		width: 60px;
		height: 60px;
	}
	.hero-img-item-second {
		margin-left: -16px;
	}
	.hero-img-item-third {
		margin-left: -16px;
	}
}

