/* ===================================SALE============================================== */

.sale {
	/* padding-bottom: 100px; */
	padding-bottom: 60px;
}

.sale-title {
	/* font-family: "Gilroy", sans-serif; */
	font-weight: 600;
	/* font-size: 48px; */
	font-size: 32px;
	/* line-height: 0.92; */
	line-height: 1;
	letter-spacing: -0.02em;
	color: #0c0c0c;
	/* margin-bottom: 40px; */
	margin-bottom: 24px;
}

.sale-container {
	display: flex;
	flex-direction: column;
}

.sale-list-container {
	/* margin-right: 20px; */
	margin-bottom: 20px;
	order: 1;
}

.sale-list {
	display: flex;
	/* flex-direction: column; */
	flex-direction: row;
	/* gap: 10px; */
	gap: 5px;
    max-width: 100%;
    width: 100%;
}

.sale-list li {
    flex: 1;
    min-width: 0;
}

.sale-items {
	/* width: 132px;
    height: 132px; */
	max-width: 80px;
	height: 80px;
	background-color: #f3f3f3;
	border: 1px solid rgba(12, 12, 12, 0.05);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sale-img {
	/* max-width: 52px; */
    max-width: 100%;
	height: 54px;
}

.watch-container {
	/* width: 428px;
    height: 558px; */
	max-width: 335px;
	height: 385px;
	background-color: #f3f3f3;
	border: 1px solid rgba(12, 12, 12, 0.05);
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-right: 40px; */
	margin-bottom: 20px;
	order: 2;
	padding: 50px;
}

.watch-img {
	/* width: 328px;
    height: 398px; */
	transition: transform 0.5s ease;
}

.watch-sale {
	/* max-width: 410px;
    max-height: 438px; */
	max-width: 335px;
	min-height: 561px;
	background-color: #3350e9;
	border-radius: 50px;
	/* padding: 60px; */
	padding: 48px 28px;
	order: 3;

}

.sale-img {
	object-fit: cover;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.sale-img:hover {
	transform: scale(1.1);
}

.sale-subtitle {
	font-weight: 600;
	/* font-size: 32px;
    line-height: 1.125; */
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: -0.02em;
	color: #fbfbfb;
	margin-bottom: 10px;
}

.subtitle-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.28;
	letter-spacing: -0.02em;
	color: rgba(251, 251, 251, 0.5);
	margin-bottom: 20px;
}

.sub-sale-container {
	display: flex;
	gap: 9px;
	align-items: center;
	/* margin-bottom: 30px; */
	margin-bottom: 28px;
}

.sale-btn {
	/* width: 78px; */
	max-width: 68px;
	height: 32px;
	font-weight: 600;
	/* font-size: 20px;
    line-height: 1; */
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: -0.02em;
	color: #fbfbfb;
	background-color: rgba(251, 251, 251, 0.1);
	border-radius: 8px;
	border: none;
}

.sale-btn:hover,
.sale-btn:focus {
	background-color: #1f3cd4;
}

.btn-text {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: -0.02em;
	text-decoration: line-through;
	color: rgba(251, 251, 251, 0.5);
}

.sale-text {
	/* font-family: "Gilroy", sans-serif; */
	font-weight: 500;
	/* font-size: 16px;
    line-height: 1.25; */
	font-size: 14px;
	line-height: 1.28571;
	letter-spacing: -0.02em;
	color: rgba(251, 251, 251, 0.7);
	/* margin-bottom: 40px; */
	margin-bottom: 28px;
}

.sale-btn-list {
}

.btn-list {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.btn-items {
}

.sub-btns {
	border: 1px solid rgba(251, 251, 251, 0.2);
	border-radius: 8px;
	padding: 8px 12px;
	font-weight: 500;
	/* font-size: 14px;
    line-height: 1.28; */
	font-size: 12px;
	line-height: 1.33;
	color: #fbfbfb;
	background-color: inherit;
	cursor: pointer;
}

.sub-btns:hover,
.sub-btns:focus {
	background-color: #1f3cd4;
}


/* MEDIA */

@media screen and (min-width: 375px) {
    .sale-items {
        width: 80px;
    }
    .sale-img {
        width: 52px;
    }
    .watch-container {
        max-width: none;
        width: 335px;
    }
    .watch-img {
        width: 235px;
    }
    .sale-btn {
        width: 68px;
    }
}

@media screen and (min-width: 768px) {

	.sale-block {
		margin-right: auto;
		margin-left: auto;

	}
	.sale {
		padding-bottom: 80px;
	}
	.sale-title {
		font-size: 48px;
		line-height: 0.92;
		margin-bottom: 40px;
	}

	.sale-list-container {
		margin-bottom: 0;
		margin-right: 20px;
	}
	.sale-list {
		flex-direction: column;
		gap: 10px;
        height: 558px;
	}
	.sale-items {
        max-width: none;
		width: 132px;
		height: 132px;
	}

	.sale-container {
		flex-direction: row;
		margin-bottom: 40px;
	}
	.sale-img {
		width: 96px;
		height: 100px;
	}
	.watch-container {
		width: 552px;
		height: 558px;
		margin-bottom: 0;
	}
	.watch-img {
        max-width: none;
		width: 328px;
		height: 398px;
	}
	.watch-sale {
        max-width: none;
		width: 100%;
		min-height: 518px;
		padding: 60px;
	}
	.sale-subtitle {
		font-size: 32px;
		line-height: 1.125;
	}
	.sub-sale-container {
		margin-bottom: 30px;
	}
	.sale-btn {
		width: 78px;
		font-size: 20px;
		line-height: 1;
	}
	.sale-text {
		font-size: 16px;
		line-height: 1.25;
		margin-bottom: 40px;
	}
	.sale-btn-list {
		width: 398px;
	}
	.sub-btns {
		font-size: 14px;
		line-height: 1.28;
	}
}

@media screen and (min-width: 1280px) {

	.sale-block {
		display: flex;

	}
	.sale {
		padding-bottom: 100px;
	}
	.sale-title {
		font-size: 48px;
		line-height: 0.92;
		margin-bottom: 40px;
	}

    .sale-container {
        margin-bottom: 0;
    }

	.watch-container {
		width: 428px;
		height: 558px;
		margin-right: 40px;
		margin-bottom: 0;
	}

	.watch-img {
		cursor: pointer;
		object-fit: cover;
		
	}

	.sale-list-container {
		margin-right: 20px;
		margin-bottom: 0;
	}

	.sale-list {
		flex-direction: column;
		gap: 10px;
	}

	.sale-items {
		width: 132px;
		height: 132px;
	}

	/* ==================================================================================== */

	.watch-sale {
		/* width: 410px; */
		min-height: 558px;
		height: 438px;
		padding: 60px;
		
	}

	.sale-subtitle {
		font-size: 32px;
		line-height: 1.125;
	}
	.sub-sale-container {
		margin-bottom: 30px;
	}
	.sale-btn {
		width: 78px;
		font-size: 20px;
		line-height: 1;
	}
	.sale-text {
		font-size: 16px;
		line-height: 1.25;
		margin-bottom: 40px;
	}
	.sub-btns {
		font-size: 14px;
		line-height: 1.28;
	}
}
